/*@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jua&family=Marcellus&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jua&family=Marcellus&family=Story+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: #fdf9dd;
}
header{
    background-color: #675369;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
nav{
    display: flex;
    gap: 32px;
}
.lista-menu{
    display: flex;
    flex-direction: row;
    }
.menu-item{
    color: #fdf3dd;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 32px;
}
.menu-item:hover{
    font-size: larger;
    color: #d1c5a7 ;
    text-shadow: 2px 3px 3px #7c7875; 
}
.img-menu{ /*logo*/
    height: 63px;
    
}
.img-menu:hover{
    filter: drop-shadow(5px 5px 7px rgb(124, 120, 117));
        
}
#icon-menu{
    display: none;
    color: #fdf3dd;
    cursor: pointer;
    z-index: 22;/*icone fica por cima do menu*/
}
.linha-menu{
    display: none;
}
@media (max-width: 806px){ /*menu para smartphone*/
    #icon-menu, .linha-menu{
        display: block;
    }
    #icon-menu{
        margin-left: 50%;
    }
    body{
        overflow-x: hidden;
    } 
    .lista-menu{
        position: absolute;
        top: 9vh;
        padding-top: 2vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #675369;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none;  /*esconde o menu que foi deslocado*/
        transform: translateX(100%); /*desloca o menu para o eixo x*/
        z-index: 20; /*menu fica sobre a caixa titulo*/
    }
    .linha-menu{
        width: 85%;
        color: #fdf3dd;
    }
    .menu-item{
        margin-left: 0;
    }
    .img-menu{
        height: 55px;
        position: relative;/*para que z-index seja aceito*/
        z-index: 22;
    }

}
@media (max-width:500px){
    body{
        overflow-x: hidden;
    }
    .lista-menu{
        width: 100vw;
    
    }
    .img-menu{
        height: 50px;
    }
    #icon-menu{
        margin-left: 35%;
    }
}
.lista-menu.active{ /*colocando javascritp*/
    transform: translateX(0);/*move menu para a posição visível*/   
    display: block; /*mostra o menu que foi escondido*/
    display: flex;   
}
/*********estilização do main*******/
main{
    background-color: #372839;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-artg{
    background-color: #7c7875;
    border-radius: 32px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.caixa-tex{
    width: 60%;
    border-radius: 25px;
    margin-top: 50px;
}
h1, h2,h3, h4{
    font-family: "Marcellus", serif;
    font-weight: 600;
    font-style: normal;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    margin-bottom: 20px;
}
h2{
    margin-top: 20px;
}
h1, h2{
    color: #2f0034;
}
#h2-listagem{
    font-weight: bolder;
    margin-bottom: 20px;
}
h3{
    color: #1d2413;
}
h4{
    color: #4c0953;
    font-weight: bolder;
}
p, a{
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    color: #fdf9dd;
}
.destaque{
    color:#4c0953;
    font-weight: bolder;
}
#animais-silvestres{
    color: #2f0034;
    font-weight: 400;
    text-decoration: underline;    
}
span{
    color: #2f0034;
    font-weight: bold;
}
.item-atalhos{
    list-style: disc;
    margin-left: 52px;
    text-decoration: underline;
    color: #1d2413;
}
.link-atalho{
    color: #1d2413;
    font-weight: bold;
}
.item-tipos, .item-tipos-roxo{
    list-style: disc;
    margin-left: 52px;
    margin-bottom: 10px; 
}
.item-tipos-roxo{
    color: #2f0034;
}
#h2-cuidados{
    text-align: center;
}
#caixa-tex2{
    margin-bottom: 50px;
}
.item-lista-animais{ /*items 1, 2, 3*/
    margin-bottom: 20px;
}
#container-fontes{
    margin-bottom: 50px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-fonte{
    list-style: disc;
    color: #2f0034;
}
.item-fonte-link{
    text-decoration: underline;
    color: #2f0034;
}
.item-fonte-link:hover{
    color: #fdf9dd;
    
}
@media(max-width:600px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 19px;
    }
    .container-artg{
        width: 95%;
    }
    .caixa-tex{
        width: 80%;
    }
    .item-tipos, .item-tipos-roxo, .item-atalhos{
        margin-left: 15px;
    }
    #lista-fontes{
        width: 85%;
    }
}
@media(max-width:400px){
    main{
        background-color: #7c7875;
    }
    .container-artg{
        width: 100%;
    }
}
/*******rodapé*******/
footer{
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(93, 118, 61,1), rgba(153, 163, 137, 0.702), rgba(204, 174, 207,0.7) );
    background-color: #ccaecf;
   
}
#msg1, #msg2{
    color: #fdf9dd;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}
#msg1::after{
    content: '\e91d';
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 
      'FILL' 0,
      'wght' 500,
      'GRAD' 0,
      'opsz' 24;
    vertical-align: middle; 
    margin-left: 5px;
    font-size: 19px;
}
@media(max-width:526px){
    footer{
        display: grid;
        grid-template-rows: 100px 55px 55px 20px 100px 70px;
        grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr;
        align-items: center;
    }
    #fig-rodape{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #msg1{
        grid-row: 3/4;
        grid-column: 2/5;
     
    }
    #msg2{
        grid-column: 2/6;
        grid-row: 5/6;
    }
}
@media(max-width:989px)and (min-width:526px){
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 4fr 1fr 1fr;
        grid-template-rows: 120px 55px 25px 145px 50px;
        align-items: center;
    }
    #fig-rodape{
        grid-row: 2/3;
        grid-column: 2/4;
        
    }
    #msg1{
        grid-column: 5/6;
        grid-row: 2/3;
    }
    #msg2{
        grid-row: 4/5;
        grid-column: 3/6;
        align-self: self-start;
    }
}
@media(max-width:2560px) and (min-width:989px){
 footer{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 3fr 1fr 2fr;
        grid-template-rows: 120px 55px 25px 145px 50px;
        align-items: center;
    }
    #fig-rodape{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #msg1{
        grid-column: 4/5;
        grid-row: 2/3;
        
    }
    #msg2{
        grid-column: 3/-2;
        grid-row: 4/5;
    }
}
