/*@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jua&family=Marcellus&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jua&family=Marcellus&family=Story+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
   
}
header{
    background-color: #675369;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
nav{
    display: flex;
    gap: 32px;
}
.lista-menu{
    display: flex;
    flex-direction: row;
    }
.menu-item{
    color: #fdf3dd;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 32px;
}
.menu-item:hover{
    font-size: larger;
    color: #d1c5a7 ;
    text-shadow: 2px 3px 3px #7c7875; 
}
.img-menu{ /*logo*/
    height: 63px;
    
}
.img-menu:hover{
    filter: drop-shadow(5px 5px 7px rgb(124, 120, 117));
        
}
#icon-menu{
    display: none;
    color: #fdf3dd;
    cursor: pointer;
    z-index: 22;/*icone fica por cima do menu*/
}
.linha-menu{
    display: none;
}
@media (max-width: 806px){ /*menu para smartphone*/
    #icon-menu, .linha-menu{
        display: block;
    }
    #icon-menu{
        margin-left: 50%;
    }
    body{
        overflow-x: hidden;
    } 
    .lista-menu{
        position: absolute;
        top: 9vh;
        padding-top: 2vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #675369;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none;  /*esconde o menu que foi deslocado*/
        transform: translateX(100%); /*desloca o menu para o eixo x*/
        z-index: 20; /*menu fica sobre a caixa titulo*/
    }
    .linha-menu{
        width: 85%;
        color: #fdf3dd;
    }
    .menu-item{
        margin-left: 0;
    }
    .img-menu{
        height: 55px;
        position: relative;/*para que z-index seja aceito*/
        z-index: 22;
    }

}
@media (max-width:500px){
    body{
        overflow-x: hidden;
    }
    .lista-menu{
        width: 100vw;
    
    }
    .img-menu{
        height: 50px;
    }
    #icon-menu{
        margin-left: 35%;
    }
}
.lista-menu.active{ /*colocando javascritp*/
    transform: translateX(0);/*move menu para a posição visível*/   
    display: block; /*mostra o menu que foi escondido*/
    display: flex;   
}
/*********estilização do main*******/
.caixa-titulo {
    background-color: rgba(103, 83, 105, 0.5);/*atribui opacidade sem interferir em elementos filhos*/
    border-radius: 35px;
}
h1{
    color: #fdf3dd;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    text-align: center;
   
}
.container-principal{
    background-color: #372839;
}
@media(max-width: 2560px) and (min-width:950px){ /*em telas de computador a imagem principal agirá dessa forma*/
        
    .container-principal{
        display: grid;
        grid-template-columns: 5% 35px 1fr 1fr 5%;
        grid-template-rows: 270px 30px 270px;
    }
    .caixa-cão{
        grid-row: 1/4;
        grid-column: 2/5;
    }
    .caixa-titulo{
        grid-row: 3/4;
        grid-column: 3/4;
        z-index: 10;
        max-height: 60%; /*60% da celula da seção principal*/
    }
    .caixa-cão{
        height: 540px;
        max-width: 1200px;/*tamanho max para o container*/
        border-radius: 50px;
        overflow: hidden; 
    }
    #cão-cinza{
        transform: scale(1.2) translateX(8%);
    }
    h1{
        padding-top: 10%;
    }
}
@media(max-width:950px) and (min-width:800px){
    .container-principal{
        display: grid;
        grid-template-columns: 5% 1fr 1fr;
        grid-template-rows: 340px  200px;
    }
    .caixa-cão{
        grid-column: 1/-1;
        grid-row: 1/4;
    }
    .caixa-titulo{
        grid-column: 2/3;
        grid-row: 2/4;
        z-index: 10;
        max-height: 65%;
    }
    .caixa-cão{
       max-width: 999px;
       overflow: hidden;
    }
    #cão-cinza{
        max-width: 100%;
        transform:scale(1.3) translateX(50px);
    }
    h1{
        padding: 5%;
    }
}
@media(max-width:800px) and (min-width:395px){ /*para telas se smartphone*/
   
 .container-principal{ /*para telas se smartphone*/
        display: grid;
        align-items: center;
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 70% 30%;
    }
   .caixa-cão{
        grid-column: 1/-1;
        grid-row: 1/3;
    }
    .caixa-titulo{
        grid-column: 2/4;
        grid-row: 2/3;
        z-index: 10;
        max-height: 90%;
    }
    .caixa-cão{
       max-width: 800px;
       min-height: 400px;
       overflow: hidden;
    }
    #cão-cinza{
        max-width: 100%;
    }
    h1{
        padding: 5%;
    }
}
@media(max-width:584px){
    .container-principal{
        position: relative;
        height: 600px;
        display: grid; 
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 70% 30%;
        align-items: start; 
    }
    .caixa-titulo{
        border-radius: 20px;
        z-index: 10;
    }
     .caixa-cão{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       overflow: hidden;
    }
     #cão-cinza{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
   
}
@media(max-width:421px){
    h1{
        font-size: 25px;
    }
}
@media(max-width:395px){ /*para telas de smartphone*/
   
 .container-principal{ /*para telas se smartphone*/
        position: relative;/**/
        height: 500px; /*----*/
        display: grid;
        align-items: center;
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 70% 30%;
    }
    .caixa-titulo{
        grid-column: 2/4;
        grid-row: 2/3;
        z-index: 10;
        max-height: 90%;
    }
    .caixa-cão{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       overflow: hidden;
    }
    #cão-cinza{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    h1{
        padding: 5%;
        font-size: 22px;
        line-height: 135%;/*espaçamento entre linhas*/
    }
}
/********parte sobre denucia*******/

.container-denuncia{
    background-image: linear-gradient(to top, #7B7189 50%, #675369, #372839 ), linear-gradient(to bottom,#7B7189 50%, #675369, #372839  );
    background-position: top, bottom;
    background-size: 100% 50%, 100% 50%;
    background-repeat: no-repeat; 

    display: grid;
    grid-template-columns: 10% 1fr 1fr 7%;
    grid-template-rows: 100px 65px 235px 35px 65px 100px;
    justify-items: center;
    align-items: center;
}
#h2-denucia{
    grid-column: 2/3;
    grid-row: 2/3;
}
h2{
    font-family: "Marcellus", serif;
    font-weight: large;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    color: #fdf9dd;
    
}
#lei-maus-tratos{
    grid-column: 2/3;
    grid-row: 3/4;

    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #fdf9dd;
    text-align: justify;
}
#botão-artigo{
    grid-column: 2/3;
    grid-row: 4/5 ;

    background-color: #372839;
    color: #fdf3dd;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 4px 7px rgb(124, 120, 117);
    cursor: pointer;
}
.fig-img2{
    grid-column: 3/4;
    grid-row: 3/6;

    box-shadow: 2px 4px 8px rgb(124, 120, 117);
    width: 100%;
    max-width: 335px;
    aspect-ratio: 1/1;
    border-radius: 32px;
    overflow: hidden;
} 
#cão-grade{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
@media(max-width:950px){
    .container-denuncia{
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 70px 80px 340px 155px 25px 70px;
        row-gap: 2vh;
        justify-items: center;
        align-items: center;
    }
    #h2-denucia{
        grid-row: 2/3;
        grid-column: 2/3;
        
    }
    .fig-img2{
        grid-row: 3/4;
        grid-column: 2/3;

        width: 100%;
        max-width: 600px;
        height: auto;
        aspect-ratio: 16/9;
    }
    #lei-maus-tratos{
        grid-row: 4/5;
        grid-column: 2/3;
        
    }
    #botão-artigo{
        grid-column: 2/3;
        grid-row: 5/6;
        
    }
} 
 @media(max-width:570px){
    .container-denuncia{
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 65px 75px 255px 200px 35px 65px;
        row-gap: 2vh;

    }
     #h2-denucia{
        grid-row: 2/3;
        grid-column: 2/3;
        
    }
    .fig-img2{
        grid-row: 3/4;
        grid-column: 2/3;

        width: 100%;
        max-width: 600px;
        height: auto;
        aspect-ratio: 16/9;
    }
    #lei-maus-tratos{
        grid-row: 4/5;
        grid-column: 2/3;
        
    }
    #botão-artigo{
        grid-column: 2/3;
        grid-row: 5/6;
        
    }   
}
@media(max-width:449px){
    .container-denuncia{
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 50px 65px 50px 50px 50px 50px  180px 10px 35px 50px;
        row-gap: 0;
    }
    .fig-img2{
        grid-row: 3/7;
    }
     #lei-maus-tratos{
        grid-row: 7/8;
        font-size: 22px;
    }
    #botão-artigo{
        grid-row: 9/10;
    }
}
/********parte sobre ongs*********/
.container-ongs{
    background-color: #372839;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 50px 65px 25px 500px 50px;
}
h3{
    text-align: center;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    color: #fdf9dd;
    font-size: 19px;
}
.h3-ongs{
    padding-bottom: 10px;
}
.fig-ongs{
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
}
.img-ongs{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lista-ongs{
    display: flex;        /*********/
    flex-direction: column;
    gap: 50px;
    align-items: center;

    grid-column: 2/3;
    grid-row: 4/5;
}
.item-ongs{
    background-color: rgb(103, 83, 105, 0.25);
    border-radius: 20px;
    width: 600px;
    height: 130px;
    display: flex;         /********/
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 35px;
}
#h2-ongs{
    grid-column: 2/3;
    grid-row: 2/3;
}
.item-ong-links{ /*referente a tag ---a de link*/
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    color: #fdf9dd;
    text-decoration: underline;
}
.lista-ongs-links{
    padding-left: 35px;
}
#icon-site, #icon-insta, #icon-facebook{
    color: #fdf9dd;
}
.item-ong-links:hover {
    font-size: larger;
    color: #AAE876;
}
@media(max-width:742px){
    .item-ongs{
        width: 70vw;
        gap: 3vw;
    } 
}
@media(max-width:713px){
    .item-ongs{
        gap: 2vw;
    }
}
@media(max-width:600px){
    #h2-ongs{
        font-size: 27px;
    }
    .item-ongs{
        background-color: rgb(103, 83, 105, 0);
    
    }
}

/*********parte sobre artigos*********/
.container-artigos{
    background-color: #5d763d;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fig-artigos{
    max-width: 300px;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 4px 7px rgb(60, 75, 41);
}
.img-artigos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lista-artigos{
    height: 450px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
}
.cont-lista-artigo{
    height: 59vh;/**/
   
}
.artigos-card{
    border-radius: 15px;
    border: 1px solid #3c4b29;
    max-width: 350px;
    height: 100%;
    display: flex; /*alinhando verticalmente*/
    flex-direction: column;
    justify-content: center;
    
}
.link-artigos{/*alihando horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}
